@model TheRecordStore.Models.Band

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            <h3>Band</h3>
        </th>
        <th>
            <h3>Genre</h3>
        </th>
        <th>
            <h3>Release Date</h3>
        </th>
    </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.BandName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Genre)
            </td>
            <td>
               @Html.DisplayFor(model => model.ReleaseDate)
            </td>
          
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </td>
       
         </tr>
  </table>
