
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <table class="table">
        <tr>
            <th>
                <h3>Band</h3>
            </th>
            <th>
                <h3>Genre</h3>
            </th>
            <th>
                <h3>Release Date</h3>
            </th>
        </tr>
        @foreach (var band in ViewBag.AllBands)
        {
            <tr>
                <td>
                    @band.BandName
                </td>
                <td>
                    @band.Genre
                </td>
                <td>
                    @band.ReleaseDate
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = band.Id }) 
                    @Html.ActionLink("Details", "Details", new { id = band.Id }) 
                    @Html.ActionLink("Delete", "Delete", new { id = band.Id })
                </td>

            </tr>
        }
    </table>

